/*-stamp
/Makefile
/autom4te.cache
/benchmarks/Makefile
/config.*.dh-orig
/config.h
/config.log
/config.status
/doc/Makefile
/lib/Makefile
/scheme/Makefile
/scheme/ikarus.boot
/scheme/ikarus.config.ss
/scheme/last-revision
/src/.deps/
/src/Makefile
/src/bootfileloc.h
/src/ikarus
/src/scheme-script
/stamp-h1
/src/*.o
Makefile.in
/aclocal.m4
/compile
/config.guess
/config.h.in
/config.sub
/configure
/depcomp
/install-sh
/missing
